ol, ul {
  padding-left: 50px;
}

li button {
  width: 150px;
}

.status {
  margin-bottom: 10px;
}

.square {
  --tamanho: 62px;
  background: transparent;
  border: 3px transparent;
  float: left;
  font-size: calc(var(--tamanho) - 20px);
  font-weight: bold;
  line-height: var(--tamanho);
  height: var(--tamanho);
  width: var(--tamanho);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.square:hover{
  border: 3px solid rgb(75, 214, 168);
}

.game-board {
  background-image: url("jogo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  font-weight: bold;
}